// Vendor
@import url('lesselements.less');

// Basics
@import url('basics/colours.less');
@import url('basics/fonts.less');
@import url('basics/resets.less');
@import url('basics/utilities.less');

// Elements
@import url('components/slides.less');

// Components
@import url('elements/header.less');
@import url('elements/menu.less');

// Generic styling
@sectionpadding: 20px;
body {
  background-color: @greylightest;
  padding: @sectionpadding;

  font-family: "Holland Serif";
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}
a, a:hover {
  text-decoration: none;
}

section.hasSlides {
  position: relative;
  min-height: 90vh;
  margin-bottom: @sectionpadding;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.test {
  margin-top: 150px;
  font-style: italic;
  color: @white;
  font-size: 4em;
  text-align: center;
}
.test2 {
  font-family: "Expletus Sans";
  font-size: 2em;
  color: @holland_darkblue;
  font-weight: 500;
}

nav.nav-verbose {
  background-color: fade(@holland_orange, 70%);
  color: @white;
}
