@holland_orange:    #ff6600;
@holland_darkblue:  #092877;

@greylightest:      #f5f5f5;
@greylight:         #e5e5e5;
@white:             #ffffff;


// Background colour classes
.bg-greylight {
  background-color: @greylight;
}

// Text colour classes
.c-white {
  color: @white;
}