.list {
  list-style: none;
  font-family: "Expletus Sans";

  a {
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% ~"+" 20px);
    border: 2px solid transparent;
    padding: 10px;

    &:hover {
      background-color: fade(@blue_soft, 8%);
      // border-color: @greylight;

      .icon {
        color: @holland_orange;
      }
    }
  }
  h4 {
    color: @holland_orange;
    line-height: 1.5em;
  }
  small, .icon {
    color: @blue_soft;
  }
}