#menu {
  font-family: "Expletus Sans";
  font-size: 0.9em;

  h5 {
    margin-bottom: 0.5em;
    color: fade(@blue_soft, 50%);
  }
  ul {
    list-style: none;
  }
  a {
    display: block;
    padding: 5px 0;
    color: @blue_soft;

    &:hover {
      color: @blue_medium;
    }
  }
}