nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: ~"none\9"; // IE hack
  width: 100%;
  margin-bottom: 20px;
  max-height: 100%;
  max-height: 100vh;
  overflow: scroll;
  padding: 100px 0;
  margin-bottom: -@sectionpadding;
  background-color: @greylightest;
  .transform(translateY( calc(-100vh) ));
  .transition(0.3s);
  opacity: 0;
  pointer-events: none;

  &.isExpanded {
    .transform(translateY(0));
    display: ~"block\9"; // IE hack
    opacity: 1;
    pointer-events: all;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: -@sectionpadding_small;
  }
}
#nav_mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
  display: ~"none\9"; // IE hack
  width: 100%;
  height: 100%;
  background-color: fade(@holland_darkblue, 40%);
  pointer-events: none;
  opacity: 0;
  .transition(0.3s);
  pointer-events: none;

  &.isExpanded {
    display: ~"block\9"; // IE hack
    opacity: 1;
    pointer-events: all;
  }
}
// Ancient browser (IE/Opera) fix
.ancient-browser {
  nav {
    display: none;

    &.isExpanded {
      display: none;
    }
  }
  #nav_mask {
    display: none;

    &.isExpanded {
      display: none;
    }
  }
}
