.twitterfeed {
  font-family: "Expletus Sans";
  
  .tweet-box {
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 15px;
      height: 100%;
      background: -webkit-gradient(linear, 0% 0%, 80% 0, from(transparent), to(@white));
      background: -webkit-linear-gradient(left, transparent, @white);
      background: -moz-linear-gradient(left, transparent, @white);
      background: -ms-linear-gradient(left, transparent, @white);
      background: -o-linear-gradient(left, transparent, @white);
    }
  }
  p {
    font-size: 1em;
    line-height: 1.5em;
    color: @blue_soft;
    margin: 0;
  }
  a {
    color: @holland_darkblue;
  }
  .user {
    font-size: 0.9em;
    margin-bottom: 10px;

    img {
      width: 32px;
      height: 32px;
      margin-right: 5px;
    }
  }
  .tweet a {
    display: inline-block;
    max-width: 100%;
  }
  .timePosted,
  .interact {
    display: inline-block;
    width: 33%;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid @greylight;
    font-size: 0.9em;
    vertical-align: top;
  }
  .timePosted {
    .u-truncate;
    font-size: 0.8em;
    a {
      color: @blue_soft;
    }
  }
  .interact {
    font-size: 0.8em;
    width: 65%;
    text-align: right;

    a {
      display: inline-block;
      padding-left: 10px;
    }
  }
}