.btn {
  display: inline-block;
  font-family: "Expletus Sans";
  padding: 6px 15px 3px;
  .rounded(0);
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  letter-spacing: 0.02em;
  background-clip: border-box;

  
  &.btn-lg {
    padding: 10px 20px 6px;
    font-size: 1.1em;
  }
  &.btn-sm {
    padding: 3px 8px 0px;
    font-size: 0.9em;
  }
  &:active {
    .transform(translateY(2px));
  }

  &.btn-primary {
    background-color: @holland_orange;
    color: @white;

    &:hover {
      background-color: darken(@holland_orange, 10%);
      border-color: transparent;
    }
  }
  &.btn-outline {
    background-color: transparent;
    border-color: @holland_orange;
    color: @holland_orange;

    &:hover {
      background-color: @holland_orange;
      color: @white;
    }
  }
  &.btn-greyoutline {
    background-color: transparent;
    border-color: lighten(@blue_soft, 15%);
    color: @blue_soft;

    &:hover {
      border-color: @holland_orange;
      color: @holland_orange;
    }
    .icon {
      .transform(translateY(2px));
    }
  }
  &.btn-whiteoutline {
    background-color: transparent;
    border-color: @white;
    color: @white;

    &:hover {
      background-color: @white;
      color: @holland_orange;
    }
    .icon {
      .transform(translateY(2px));
    }
  }
  &.btn-white {
    background-color: @greylightest;
    color: @holland_orange;

    &:hover {
      background-color: @holland_darkblue;
      color: @white;
    }
  }
  &.btn-reveal {
    background-color: transparent;
    border-color: transparent;

    &.btn-white {
      color: @white;

      &:hover {
        background-color: fade(@holland_darkblue, 20%);
        color: @white;
      }
    }
    &.btn-outline {
      border-color: fade(@greylightest, 50%);
      color: @holland_orange;

      &:hover {
        background-color: transparent;
        border-color: @holland_orange;
      }
    }
    &.btn-whiteoutline {
      color: @white;

      &:hover {
        background-color: transparent;
        border-color: @white;
      }
    }
  }
  &.btn-attachment {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: @white;
    overflow: hidden;
    white-space: inherit;
    text-align: left;
    line-height: 1.5em;
    color: @holland_orange;

    &:hover {
      background-color: darken(@greylightest, 2%);
    }
    &:before {
      position: absolute;
      bottom: -20px;
      right: 10px;
      font-family: "linea-basic-elaboration-10" !important;
      font-size: 6em;
      line-height: 1em;
      font-weight: normal;
      color: fade(@holland_darkblue, 8%);
    }
    &[href$=".pdf"]:before {
      content: "8";
    }
    &[href$=".doc"]:before,
    &[href$=".docx"]:before {
      content: "7";
    }
    .title {
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 10px solid transparent;
      }
      &:before {
        border-bottom-color: @holland_orange;
        border-right-color: @holland_orange;
      }
      &:after {
        border-top-color: @greylightest;
        border-left-color: @greylightest;
      }
    }
    .data {
      font-size: 0.9em;
      color: darken(@greylight, 10%);
    }
  }
}
