.fieldset {
  label {
    display: block;
    margin-top: 15px;
    font-family: "Expletus Sans";
    font-weight: normal;
    font-size: 0.8em;
    line-height: 17px;
    color: @blue_soft;
    opacity: 0;
    .transition(0.2s);
  }
  &.hasContent label {
    opacity: 1;
  }
  &.hasError input {
    border-bottom-color: @red;
    color: @red;
  }
  .field-validation {
    margin-left: 5px;
    font-size: 0.9em;
    color: @red;
  }
}
.field {
  display: inline-block;
  max-width: 100%;
  height: 40px;
  padding: 5px 5px 3px;
  .rounded(0);
  background: fade(@blue_soft, 5%);
  border: 0;
  border-bottom: 2px solid fade(@blue_soft, 50%);
  line-height: 30px;
  font-size: 1.25em;
  font-family: "Holland Serif";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  .box-sizing(border-box);
  color: @blue_medium;

  &:not([disabled]):not(:focus):not(:active):hover {
    background-color: fade(@blue_medium, 5%);
  }
  &:focus,
  &:active {
    outline: none;
    background-color: fade(@blue_medium, 10%);
    border-bottom: 2px solid @blue_medium;
  }
  &::-webkit-input-placeholder {
    padding-top: 3px;
    color: fade(@blue_soft, 80%);
  }
  &:-moz-placeholder {
    padding-top: 3px;
    color: fade(@blue_soft, 80%);
  }
  &::-moz-placeholder {
    padding-top: 3px;
    color: fade(@blue_soft, 80%);
  }
  &:-ms-input-placeholder {  
    padding-top: 3px;
    color: fade(@blue_soft, 80%);
  }
  &.field-white {
    border-bottom-color: @white;
    color: @white;

    &:not([disabled]):not(:focus):not(:active):hover {
      background-color: fade(@white, 15%);
    }
    &:focus,
    &:active {
      outline: none;
      background-color: fade(@white, 25%);
    }
    &::-webkit-input-placeholder {
      padding-top: 3px;
      color: fade(@white, 70%);
    }
    &:-moz-placeholder {
      padding-top: 3px;
      color: fade(@white, 70%);
    }
    &::-moz-placeholder {
      padding-top: 3px;
      color: fade(@white, 70%);
    }
    &:-ms-input-placeholder {  
      padding-top: 3px;
      color: fade(@white, 70%);
    }
  }
}
textarea.field {
  height: auto;
  resize: none;
}
.field-select {
  position: relative;

  select {
    min-width: 100px;
    max-width: 100%;
    padding-right: 40px;
    cursor: pointer;

    &[multiple] {
      font-size: 1em;
    }
    [selected] {
      background-color: @holland_orange;
      color: @white;
    }
  }
  .icon {
    position: absolute;
    top: 5px;
    right: 0;
    pointer-events: none;
  }
}
// Ancient browser (Opera/IE) fix
.ancient-browser {
  .field-select select {
    color: @holland_darkblue;

    [selected] {
      color: @holland_darkblue;
    }
  }
}
.fieldset-checkbox {
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    &:checked + label {
      color: @holland_orange;

      &:before {
        content: "\e007";
        font-family: "linea-arrows-10";
        opacity: 1;
        color: inherit;
      }
    }
  }
  label {
    opacity: 1;
    cursor: pointer;
    font-size: 1em;

    &:before {
      content: "\e011";
      display: inline-block;
      float: left;
      width: 42px;
      padding-left: 2px;
      margin-right: 5px;
      font-family: "linea-weather-10";
      font-size: 30px;
      font-weight: bold;
      line-height: 20px;
      opacity: 0.3;
      color: @blue_medium;
    }
  }
  &.hasError {
    label, label:before {
      color: @red;
    }
  }
}
// .fieldset-required {
//   position: relative;
//   margin-right: 30px;

//   &:after {
//     content: "*";
//     position: absolute;
//     top: 17px;
//     right: -20px;
//     color: @holland_orange;
//     font-size: 2em;
//   }
// }
